/* POCKETMINE-MP SERVERS API */
.api4::before { content: "4.6.0"; }
.api5::before { content: "5.X.X"; }
.api6::before { content: "6.X.X"; }
.api7::before { content: "7.X.X"; }


/* DEDICATED BEDROCK SERVERS VERSIÓN */
.v19::before { content: "1.19.10"; }
.vXX::before { content: "1.XX.X"; }
.vXX::before { content: "1.XX.X"; }
.vXX::before { content: "1.XX.X"; }